* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    width: 100vw;
    display: flex;
}

.card-container {
    background-color: hsl(0, 0%, 100%);
    padding: 1em;
    margin: auto;
    border-radius: 10px;
    box-shadow: 8px 8px 0px 2px black;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cover-image {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.basic-info-container {
    color: hsl(0, 0%, 7%);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.coding-stage {
    background-color: hsl(47, 88%, 63%);
    font-weight: bold;
    align-self: self-start;
    padding: 0.5em;
    border-radius: 5px;
}

.main-info-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.heading {
    color: hsl(0, 0%, 7%);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.heading:hover {
    color: hsl(47, 88%, 63%);
}

.main-info-container > p {
    color: hsl(0, 0%, 42%);
    line-height: 1.5em;
}

.avatar-and-name {
    display: flex;
    align-items: center;
    gap: 1em;
}

.avatar-and-name > img {
    height: 2em;
}

.name {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .card-container {
        width: 100%;
        margin: auto 2em;
    }
}