* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(217, 54%, 11%);
    display: flex;
}

.card-container {
    background-color: hsl(216, 50%, 16%);
    padding: 1.5em;
    border-radius: 10px;
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 0px 5px 5px 10px hsl(217, 53%, 7%);
}

.image-container {
    position: relative;
    cursor: pointer;
}

.cover-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cover-image:hover {
    background-color: yellow;
}

.image-container > div {
    border-radius: 10px;
    position: absolute;
    background-color: hsla(178, 100%, 50%, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.image-container > div:hover {
    opacity: 100%;
}

.image-container > div > img {
    margin: auto;
    align-self: self-start;
}

.main-info-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h2 {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

a:hover,
h2:hover {
    color: hsl(178, 100%, 50%);
}

.description {
    color: hsl(215, 51%, 70%);
}

.main-info-container > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ethereum-balance-and-countdown-container {
    display: flex;
    justify-content: space-between;
}

.ethereum-balance-container {
    display: flex;
    align-items: center;
    
}

.ethereum-balance {
    color: hsl(178, 100%, 50%);
    font-weight: bold;
}

.countdown-container {
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
}

.ethereum-balance-container,
.countdown-container {
    gap: 0.5em;
}

hr {
    border: none;
    background-color: hsl(215, 32%, 27%);
    height: 1px;
}

.user-details-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.user-details-container > img {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 100%;
    height: 2em;
}

.user-details-container > p {
    color: hsl(215, 51%, 70%);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    transition: all 0.15s ease-in-out;
}