* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    height: 100vh;
    width: 100vw;
    display: flex;
}

.component-container {
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 35% 65%;
    border-radius: 10px;
    overflow: hidden;
}

.cover-image-container > img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.info-container {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.heading {
    color: hsl(217, 19%, 35%);
}

.description {
    color: hsl(214, 17%, 51%);
}

.user-details-container {
    display: flex;
    justify-content: space-between;
}

.user-details-container > div {
    display: flex;
    gap: 1em;
}

.user-details-container > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-details-container > div > img {
    height: 3em;
    border-radius: 100%;
}

.user-names {
    color: hsl(217, 19%, 35%);
    font-size: 1em;
    font-weight: bold;
}

.date {
    color: hsl(212, 23%, 69%);
}

button {
    border: none;
    background-color: hsl(210, 46%, 95%);
    padding: 0 1.25em;
    border-radius: 100%;
    cursor: pointer;
}

a > img {
    height: 0.75em;
}

@media screen and (max-width: 768px) {
    .component-container {
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
    }

    .info-container {
        justify-content: space-between;
    }

    .heading {
        font-size: 1.5em;
    }

    .description {
        font-size: 1em;
    }
}